vendor/demogorgorn/yii2-ajax-submit-button/.git/
vendor/kartik-v/yii2-dialog/.git/
vendor/kartik-v/yii2-field-range/.git/
vendor/kartik-v/yii2-field-range/.github/
vendor/kartik-v/yii2-dynagrid/.git/
vendor/kartik-v/yii2-grid/.git/
vendor/kartik-v/yii2-krajee-base/.git/
vendor/kartik-v/yii2-mpdf/.git/
vendor/kartik-v/yii2-widget-activeform/.git/
vendor/kartik-v/yii2-widget-depdrop/.git/
vendor/kartik-v/yii2-widget-select2/.git/
vendor/kartik-v/yii2-export/.github/
vendor/kartik-v/yii2-date-range/.github/
vendor/guzzlehttp/promises/.git/
vendor/guzzlehttp/psr7/.git/
vendor/nickcv/yii2-encrypter/.git/
vendor/jaspersoft/rest-client/.git/
web/assets/**
web/minify/**
assets/**
!assets/*.php
# exclude everything
runtime/*
# exception to the rule
!runtime/.gitkeep
nbproject
config/db.php
config/db_rmrd.php
web/ratechart/**
web/import/**
web/payment/**
sftp/**
vendor/phpseclib/phpseclib/.git/
web/uploads/**
vendor/2amigos/yii2-multi-select-widget/.gitignore
vendor\kartik-v\yii2-tabs-x\.github
vendor\kartik-v\bootstrap-tabs-x\.github
installation-identity/error.txt
installation-identity/*
web/PDS/**
web/bulkdata/**
web/collection-data/**
web/sap_data_files/**
web/sapFiles/**
eipldpu-files/**
web/welfarescheme/**
web/document_upload/**
config/env.php
web/uploads/banner_upload/**
web/export_report/**
SAPFILES/**2026-07-02-*
modules/crystalreports/html/
web/utility/CrystalReportsNinja-master/Deployment/
